#landingpage {
	/*opacity:  .60*/
	background-color: rgba(0, 0, 0, .60);
}

body {
	background-image: url(https://images.alphacoders.com/935/thumb-1920-935315.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

html {
	scroll-behavior: smooth;
}